/* CUSTOM PROPERTIES */
:root {
  --main-color: #000000;
  --secondary-color: rgba(170, 20, 12, 1);
  --white:#ffffff;
  --li-width: 10em;
  --li-height: 80%;
}

@keyframes boxes {
  from {
    transform: translateY(var(--start)) rotate(var(--rotate));
  }

  to {
    transform: translateY(0) rotate(0);
  }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
@keyframes enable-hover {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: auto;
  }
}

@keyframes sectionAnimation {
  from {
    position: relative;
    font-size: 2em;
    left: -5vw;
    width: 100vw;
    transform: translateY(75vh) rotate(-6deg);

  }
  to {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    transform: translateY(0);
  }
}

@keyframes h1Animation {
  from {
  }
  to {
    display: flex;
    flex-direction: column;
  }
}

@keyframes tAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(1vh) translateX(9vw) rotate(10deg);
  }
}

@keyframes hAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(3vw) rotate(-4deg);
  }
}

@keyframes iAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(6vw) rotate(7deg);
  }
}

@keyframes jAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(2vw) rotate(-3deg);
  }
}

@keyframes eAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(8vw) rotate(12deg);
  }
}

@keyframes wAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(1vw) rotate(12deg);
  }
}

@keyframes nAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(8vw) rotate(12deg);
  }
}

@keyframes dAnimation {
  from {
    transform: translateY(75vh) rotate(-6deg);
  }
  to {
    transform: translateY(0) translateX(5vw) rotate(12deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 200vh;
  width: 100vw;
  overflow-x: hidden;

}

section {
  position: relative;
  color: var(--secondary-color);
  font-size: 2em;
  z-index: 3;
  width: fit-content;
  pointer-events: none;
  animation: sectionAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 0vh 100vh;
}

h1{
  color: var(--secondary-color);
  animation: h1Animation 1s  ease-in-out forwards;
  animation-timeline: scroll();

}

h1 span:nth-of-type(1) {
  animation: tAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 0vh 90vh;
}

h1 span:nth-of-type(2) {
  animation: hAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 10vh 90vh;
}

h1 span:nth-of-type(3) {
  animation: iAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 20vh 90vh;
}

h1 span:nth-of-type(4) {
  animation: jAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 30vh 90vh;
}

h1 span:nth-of-type(5) {
  animation: eAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 40vh 90vh;
}

h1 span:nth-of-type(7) {
  animation: wAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 50vh 90vh;
}

h1 span:nth-of-type(8) {
  animation: iAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 60vh 90vh;
}

h1 span:nth-of-type(9) {
  animation: nAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 70vh 90vh;
}

h1 span:nth-of-type(10) {
  animation: dAnimation 1s  ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: 80vh 90vh;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  padding: 0;
  position: sticky;
  top: 0;
}

li {
  position: sticky;
  background-color: black;
  width: var(--li-width);
  height: var(--li-height);
  animation: boxes 1s ease-out forwards, enable-hover linear forwards;
  animation-timeline: scroll();
  transform: translateY(var(--start)) rotate(var(--rotate));
  opacity: 1;
  pointer-events: none;
  will-change: transform, top, background-color;
}

li:nth-of-type(1) {
  --start: 10vh;
  --rotate: 7deg;
  animation-range: 0vh 90vh, 100vh;
}

li:nth-of-type(2) {
  --start: 5vh;
  --rotate: -8deg;
  animation-range: 10vh 90vh, 100vh;
}

li:nth-of-type(3) {
  --start: 3vh;
  --rotate: 6deg;
  animation-range: 20vh 90vh, 100vh;

}

li:nth-of-type(4) {
  --start: 25vh;
  --rotate: 0deg;
  animation-range: 30vh 90vh, 100vh;
}

li:nth-of-type(5) {
  --start: 15vh;
  --rotate: -7deg;
  animation-range: 40vh 90vh, 100vh;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* https://cssgradient.io/ */
li:hover::before {
  opacity: .4;
  background: linear-gradient(328deg, var(--secondary-color) 0%, var(--white) 100%);
}

li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li:hover {
  top: 20vh;
  margin: 1;
  padding: 1;
  transition: top 0.3s ease-in-out, background 0.3s ease-in-out;
}